.block {
    text-align: center;
    padding: 10px;
}


.pencil {
    background: rgba(179, 181, 182, 0.2);
    position: absolute;
    top: 265px;
    left: 0;
    right: 0;
    font-size: 30px;
    color: #8C8C8C;
    width: auto;
    height: 35px;
    display: inline-block;
    vertical-align: middle;
}

.actionBlock {
    margin-top: 25px;
    text-align: left;
    vertical-align: middle;
    font-size: 16pt;
    font-family: 'Inter', serif;
    text-decoration: none;

}

.actionBlock a {
    color: black;
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 180px;
}

.button {
    width: 200px;
}

.button:not(:first-child) {
    margin-top: 15px;
}
