.dragZone {
    margin-top: 20px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-btn);
}

.dragZone.active {
    opacity: 80%;
    background-color: var(--color-green);
}

.profileForm {
    text-align: center;
}

.button {
    margin-top: 30px;
    text-align: center;
}

.label {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 50px;
    border-radius: var(--border-radius-btn);
    text-align: center;
    cursor: pointer;
    display: block;
    background: #f1c50e;
    transition: all 0.18s ease-in-out;
    color: black;
    font: 14px/50px Tahoma;
    font-weight: 600;
}

.label:hover {
    color: white;
    background: #333;
}

.fileInput {
    visibility: hidden;

}

.choosedFiles, .error {
    margin: 10px;
    font-family: 'Inter', serif;
    font-size: 14pt;
    font-style: normal;
    font-weight: 400;
    text-align: center;

}

.choosedFiles {
    color: var(--color-sub-text);
}

.error {
    color: var(--color-red);
}
