.blockAvatar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.divAvatar {
    width: 200px;
    height: 100%;
    position: relative;
}

.divAvatar:hover:after {
    transition: all 1s;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    content: 'Нажмите, чтобы изменить аватар';
    color: var(--color-white);
    font-size: 14pt;
    font-weight: 900;
    background-color: var(--color-black-opacity);
    width: 200px;
    height: 200px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
}


.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--color-menu-background);
}
