.message-item {
    display: flex;
}

.message-item:not(:first-child) {
    margin-top: 20px;
    width: 100%;
    border-top: 1px solid var(--color-menu-background);
    padding-top: 20px;
}

.author {
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 80px;
    border-radius: 100%;
    border: 1px solid var(--color-sub-text);
}

.name {
    margin-top: 5px;
}

.date {
    margin-top: 3px;
}

.message {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    height: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    position: relative;

}


.message::before {
    border: 10px solid transparent;
    border-right-color: white;
    position: absolute;
    bottom: 50%;
    left: -18px;
    content: '';
}

.text {
    width: auto;
    height: auto;
    font-size: 20px;
    margin-bottom: 30px;

}

.button {
    width: auto;
    height: auto;
    position: absolute;
    right: 20px;
    bottom: 5px;
}
