.menuItem {
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px 10px;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: var(--navbar-text-color);
    font-family: "Inter", serif;
}

.menuItemActive {
    background: var(--color-green);
    color: white !important;
}



@media screen and (max-width: 750px) {
    .menuItem {
        margin-right: 10px;
        border-radius: 15px;
        padding: 10px 10px;
        text-decoration: none;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        color: black;
        font-family: "Inter", serif;
    }
}
