.menu {
    list-style: none;
    display: flex;
    align-items: center;
    width: 100%;

}

.navbar {
    padding: 10px 30px;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    background: var(--navbar-background-color);
    color: var(--navbar-text-color);
    height: 60px;
    width: 100%;
    position: relative;


}
