.item {
    margin-bottom: 20px;
    padding: 0px 15px;
}

.itemInfo {
    display: flex;
    margin-left: 20px;
    color: var(--color-sub-text);
    font-size: 12px;
}

.itemAuthor {
    font-size: 13px;
}

.itemDate {
    margin-left: 10px;
}

.itemInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-menu-background);
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.2s;

}

.itemInner:hover {
    opacity: 0.8;
}

.itemName,
.itemCountMsg {
    padding: 20px 10px;
    color: var(--color-black);
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 20px;

}

.itemName {
    flex: 0 1 80%;
}

.itemCountMsg {
    margin-left: 10px;
    position: relative;
    top: 14px;
    font-size: 16px;
    color: rgb(153, 85, 85);

}
