@import "../shared/shared.button.module.css";

/* -------align------ */
.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

/* -------align end------ */
