.games-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 100px;
}

.games-profile_connect {
    cursor: pointer;
}

.games-profile:not(:last-child) {
    margin-right: 20px;
    margin-left: 20px;

}

.profile-avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid var(--color-grey);
}

.profile-name {
    color: var(--color-sub-text);
    font-size: 14px;
    max-width: 100%;
    word-wrap: break-word;
}
