@import "../../../assets/css/constants.css";

.mainLogo {
    height: 45px;
    width: 45px;
    border-radius: 5px;
    border: solid 1px;
    margin-right: 3px;
}

.textLogo {
    color: black;
    text-align: center;
    font-family: var(--mainfont)!important;
}

.navLogoBlock {
    margin-right: 15px;
    display: flex;
    align-items: center
}
