.item {
    display:flex;
    align-items:center;
    margin-bottom: 10px;
  }
  .namePlayer {
    font-size: 21px;
    color: var(--color-red);
    font-weight: bold;
    align-self: flex-start;
  }
  .message {
    margin-left: 10px;
    font-size: 17px;
    color: var(--color-white);
  }
  