.header {
    height: 60px;
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-black);
}

.header-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 20px;
    color: var(--color-black);
    margin-left: 25px;
}

.header-btn {
    margin-right: 25px;
}
