.profileForm{
   margin-left: 20px;
}

.button {
   position: absolute;
   right: 0;
   bottom: 0;
   height: 40px;
   font-family: 'Inter', serif;
   font-size: 14pt;
   font-style: normal;
   font-weight: 400;
   line-height: 20px;
   text-align: center;
   color: #FFFFFF;
   margin: 15px;
   padding: 10px;
   border-radius: 4px;
   float: right;
}