@import '../../../globalStyles/constats.scss';

.button {
  box-sizing: border-box;

  min-height: 25px;
  font-size: 14px;
  border: none;
  border-radius: $border-radius-btn;
  letter-spacing: px;
  cursor: pointer;
  transition: opacity 0.2s;
  &:hover {
    opacity: 0.9;
  }
}

// -------theme------
.green {
  background-color: $color-green;
  color: $color-white;
}
.grey {
  background-color: $color-grey;
  color: $color-white;
}
.transparent {
  background-color: transparent;
  color: $color-black;
}
// -------theme end------

// -------size------
.s {
  width: 115px;
  max-width: 115px;
  padding: 8px;
  font-size: 18px;
}
.m {
  min-width: 150px;
  padding: 13px;
  min-height: 38px;
  font-size: 20px;
}
.x {
  min-width: 240px;
  padding: 13px;
  font-size: 20px;
}
// -------size end------

// -------mode------
.full-size {
  width: 100%;
}
// -------mode end------
