:root {
    --color-green: #6EAC96;
    --color-grey: rgba(190, 190, 190, 0.959);
    --color-white: white;
    --color-black: black;
    --color-red: rgb(223, 33, 33);
    --color-black-opacity: rgba(0, 0, 0, 0.6);
    --color-blue: #0500EB;
    --color-stub-menu: #f5f5f5;
    --color-menu-background: #d3dfed;
    --color-sub-text: #8C8C8C;
    --border-radius-btn: 11px;
}
