.leaderTable {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}

 .leader td{
     border: 1px solid black;
     text-align: center;
}

.leader td{
     padding: 10px;
 }

.leader {
    padding: 20px;
}

.tableHeader {
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
