.input {
  box-sizing: border-box;
  font-size: 17px;
  background-color: var(--color-white);
}

.input:focus {
  outline: none;
}

.input:focus::placeholder {
  color: transparent;
}

.text {
  border-radius: 10px;
  max-height: 40px;
  border: 1px solid var(--color-black);
  padding: 7px 15px;
  width: 100%;
  transition: border 0.2s;
}

.text:focus {
  border: 1px solid var(--color-grey);
}

.dynamic_wrapper {
  position: relative;

}

.dynamic_wrapper:not(:first-child) {
  margin-top: 20px;
}

.dynamic_placeholder {
  top: 50%;
  left: 13px;
  transform: translate(0, -50%);
  font-size: 17px;
  position: absolute;
}


.dynamic_placeholder-up {
  position: absolute;
  animation: toUp 0.2s ease-in-out forwards;
}

.dynamic_placeholder-down {
  position: absolute;
  animation: toDown 0.2s ease-in-out forwards;
}

@keyframes toUp {
  from {
    top: 50%;
    left: 13px;
    transform: translate(0, -50%);
    font-size: 17px;
  }

  to {
    top: -7px;
    left: 5px;
    font-size: 13px;
  }
}

@keyframes toDown {
  from {
    top: -7px;
    left: 5px;
    font-size: 13px;
  }

  to {
    top: 50%;
    left: 13px;
    transform: translate(0, -50%);
    font-size: 17px;
  }
}

.label {
  display: flex;
  flex-direction: column;
  width: 380px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #8c8c8c;
  margin-top: 15px;
}

.inputWithLabel {
  background: #ffffff;
  border: 1px solid #000000;
  border-radius: 10px;
  height: 40px;
  margin-top: 6px;
  padding-left: 5px;
}
